.card {
  max-width: 20rem;
  background-position: center;
  padding: 3rem;
  color: white;
  width: 100%;
  // text-align: start;

  @media screen and (min-width: 576px) {
    height: 35rem;
    overflow-y: hidden;
  }

  & .explanation {
    display: none;
    @media screen and (min-width: 576px) {
      display: block;
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }

  &:hover {
    @media screen and (min-width: 576px) {
      overflow-y: auto;
    }

    & .explanation {
      @media screen and (min-width: 576px) {
        opacity: 1;
      }
    }
  }
}
